<ion-header>
  <ion-toolbar>
    <ion-title>
      Timeline
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-card class="card" *ngFor="let image of coolImages">
            <ion-card-header>{{ image.title }}</ion-card-header>
            <ion-card-content no-padding>
              <div>
                <ion-img class="profile-photo" [src]="image.imageUrl"></ion-img>
              </div>
              <div margin>
                <ion-label>Uploaded by: {{ image.personUploaded }}</ion-label>
              </div>
              <div margin>
                <ion-label>{{ image.comment }}</ion-label>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onUpload()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
</ion-content>
